.footer-container {
    text-align: center;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    margin: 48px 0 51px;
}

@media (max-width: 428px) {
    .images-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 27.86px;
        margin: 0 auto;
        margin-bottom: 32.14px;
    }
}
