@import "../variables";
@import "../mixins";

.landing-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rectangle-container {
    position: relative;
    height: 383px;
    width: 398px;
    margin: 0 auto;
    border: 3px solid $d3;

}

.rectangle {
    border-radius: 10px;
    background-color: transparent;

}

.content-container {
    text-align: center;
    margin: 0 auto;

}

.title {
    font-size: 6rem;
    text-align: center;


}

.description {
    font-weight: 400;
    font-size: 30px;


}

@media (max-width: 428px) {
    .title {
        font-size: 32px;
        line-height: 53px;
        width: 428px;
        height: 53px;
        display: flex;
        margin-top: 34px;
        margin-bottom: 31px;
    }
    .description {
        font-size: 21px;
        line-height: 20px;
        width: 320px;
        height: 296px;
        left: 54px;
        top: 539px;
    }
    .rectangle-container {
        width: 310px;
        height: 307px;
        margin: 0 auto;
        border: 3px solid $d3;
    }
}
