@import "../variables";

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
};

.card-container {
    display: flex;
    width: 391px;
    height: 255px;
    left: 150px;
    top: 209px;
    background: $d6;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    margin: auto;
    
};

.card-header {
    width: 331px;
    height: 60px;
    margin-top: 44px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
};

.card-body {
    width: 334px;
    height: 65px;
    font-size: 26px;
    margin-top: 14px;
    margin-left: 30px;
    margin-bottom: 9px;
    text-align: left;
};

.card-tools {
    color: $d2;
    display: flex;
    align-items: center;
    width: 334px;
    height: 65px;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 331px;
    height: 41px;
    background: transparent;
    border: 1px solid $d5;
    border-radius: 10px;
    margin-top: 9px;
};




.button {
    width: 141px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    background-color: transparent;
    margin-top: 11px;
    color: $d3;
}

@media (max-width: 428px) {
    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row: 21px;
    }

    ;

    .card-container {
        width: 328.53px;
        height: 214.26px;

    }

    ;
    .card-header {
        width: 278.12px;
        height: 50.41px;
        margin-top: 29px;
        margin-left: 25px;
    };

    .card-body {
        margin-top: 17.59;
        margin-left: 26px;
    }

    .card-tools {
        width: 280.64px;
        height: 54.62px;
        font-size: 20px;
        margin-bottom: 0;
        text-align: left;
    };

    .card-button {
        width: 278.12px;
        height: 34.45px;
    }

    .button {
        width: 118.47px;
        height: 19.33px;
        display: flex;
        margin: auto;

    }
}