@import "../../mixins";
@import "../../variables";

.nav {
    @include flex-center;
    grid-gap: 0.4rem;
    height: 2.2rem;
    background-color: $d1;
    cursor: pointer;
    position: relative;
    
}

@mixin buttonLine {
    display: inline-block;
    width: 3.4rem;
    height: 0.5rem;
    background-color: $d4;

    @media (max-width: 428px) {
        height: 6.25px;
        width: 35.63px;
    }
}

.nav_button {
    @include buttonLine;
    position: relative;
}

.nav_button::before {
    content: "";
    @include buttonLine;
    position: absolute;
    top: 15px;
    left: 0;
}

.nav_button::after {
    content: "";
    @include buttonLine;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.nav_header {
    text-transform: uppercase;
}

@media (max-width: 428px) {
    .nav_button::before {
        top: 9.38px;
    }
    .nav_button::after {
        bottom: 9.38px;
    }
    .nav_header {
        display: none;
    }
}