@import "../../mixins";
@import "../../variables";

.nav {
    @include flex-center;
    grid-gap: 0.4rem;
    position: fixed;
    top: 4.3rem;
    left: 9.6rem;
    height: 40px;
    background-color: $d1;

}

@mixin buttonLine {
    display: inline-block;
    width: 57px;
    height: 10px;
    background-color: $d4;

    @media (max-width: 428px) {
        height: 6.25px;
        width: 35.63px;
    }
}

.nav_button {
    @include buttonLine;
    position: relative;
}

.nav_button::before {
    content: "";
    @include buttonLine;
    position: absolute;
    top: 15px;
    left: 0;
}

.nav_button::after {
    content: "";
    @include buttonLine;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.nav_header {
    text-transform: uppercase;
}

@media (max-width: 428px) {
    .nav {
        top: 38px;
        left: 30px;
    }
    .nav_button::before {
        top: 9.38px;
    }
    .nav_button::after {
        bottom: 9.38px;
    }
}