@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Gruppo&display=swap");
body {
  background-color: #0B0C10;
  font-family: "Gotu", sans-serif;
  color: #66FCF1;
  margin: 2.1rem 9.6rem 2.5rem;
}

p, span, li {
  font-family: "Gruppo", cursive;
  color: #FFFFFF;
}

button {
  cursor: pointer;
  border: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vector1 {
  height: 40px;
  width: 40px;
  left: 5px;
  top: 5px;
  border-radius: 0px;
}

.vector2 {
  height: 35.2148475647px;
  width: 43.3333358765px;
  left: 3.3333282471px;
  top: 7.3958129883px;
  border-radius: 0px;
}

.vector3 {
  height: 39.7981758118px;
  width: 40px;
  left: 5px;
  top: 5px;
  border-radius: 0px;
}

.vector4 {
  height: 36.6666641235px;
  width: 36.6666641235px;
  left: 6.6666564941px;
  top: 6.6666870117px;
  border-radius: 0px;
}

.vector5 {
  height: 33.3333282471px;
  width: 43.3333358765px;
  left: 3.3333435059px;
  top: 8.3333129883px;
  border-radius: 0px;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  margin: 48px 0 51px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.4rem;
  position: fixed;
  top: 4.3rem;
  left: 9.6rem;
  height: 40px;
}

.nav_button {
  display: inline-block;
  width: 57px;
  height: 10px;
  background-color: #66FCF1;
  position: relative;
}

.nav_button::before {
  content: "";
  display: inline-block;
  width: 57px;
  height: 10px;
  background-color: #66FCF1;
  position: absolute;
  top: 15px;
  left: 0;
}

.nav_button::after {
  content: "";
  display: inline-block;
  width: 57px;
  height: 10px;
  background-color: #66FCF1;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.nav_header {
  text-transform: uppercase;
}

.landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rectangle-container {
  position: relative;
  height: 383px;
  width: 398px;
  margin: 0 auto;
  border: 3px solid #FFFFFF;
}

.rectangle {
  border-radius: 10px;
  background-color: transparent;
}

.content-container {
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 96px;
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 30px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-container {
  display: flex;
  width: 391px;
  height: 255px;
  left: 150px;
  top: 209px;
  background: #202833;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
}

.card-header {
  width: 331px;
  height: 60px;
  margin-top: 44px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}

.card-body {
  width: 334px;
  height: 65px;
  font-size: 26px;
  margin-top: 14px;
  margin-left: 30px;
  margin-bottom: 9px;
  text-align: left;
}

.card-tools {
  color: #C4C6C8;
  display: flex;
  align-items: center;
  width: 334px;
  height: 65px;
}

.card-button {
  box-sizing: border-box;
  width: 331px;
  height: 41px;
  background: transparent;
  border: 1px solid #45A29F;
  border-radius: 10px;
  margin-top: 9px;
}

.button {
  width: 141px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  background-color: transparent;
  margin-top: 11px;
  color: #FFFFFF;
}/*# sourceMappingURL=index.css.map */