.u-mb-10 {
    margin-bottom: 10px;
}
.u-mb-20 {
    margin-bottom: 20px;
}
.u-mb-30 {
    margin-bottom: 30px;
}
.u-mb-40 {
    margin-bottom: 40px;
}
.u-mb-50 {
    margin-bottom: 50px;
}
.u-mb-60 {
    margin-bottom: 60px;
}
.u-mb-70 {
    margin-bottom: 70px;
}
.u-mb-80 {
    margin-bottom: 80px;
}