.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    margin: 48px 0 51px;

}

;

.vector1 {
    height: 40px;
    width: 40px;
    left: 5px;
    top: 5px;
    border-radius: 0px;

}

;

.vector2 {
    height: 35.214847564697266px;
    width: 43.333335876464844px;
    left: 3.3333282470703125px;
    top: 7.39581298828125px;
    border-radius: 0px;

}

;

.vector3 {
    height: 39.79817581176758px;
    width: 40px;
    left: 5px;
    top: 5px;
    border-radius: 0px;
    ;
}

;

.vector4 {
    height: 36.666664123535156px;
    width: 36.666664123535156px;
    left: 6.666656494140625px;
    top: 6.66668701171875px;
    border-radius: 0px;


}

;

.vector5 {
    height: 33.33332824707031px;
    width: 43.333335876464844px;
    left: 3.333343505859375px;
    top: 8.33331298828125px;
    border-radius: 0px;

}

;